<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <script language="javascript" src="../../Assets/admin/libs/angular.min.js"></script>
    <style>
        * {
            margin: 0;
            padding: 0
        }

        body {
            margin: 50px
        }
        footer, div.body, header {
            margin: 10px;
        }

        footer {
            border: solid 1px red;
            background: red
        }

        div.body {
            border: solid 1px blue;
            background: blue
        }

        header {
            border: solid 1px pink;
            background: pink
        }
    </style>
</head>
<body ng-app="myapp">
    <div ng-controller="myController">
        <div ng-repeat="item in items" style="border:solid 1px red; margin: 10px">
            {{item}}
        </div>
    </div>

    <div ng-controller="myController2">
        <header ng-repeat-start="item in items">
            Header {{ item }}
        </header>
        <div class="body">
            Body {{ item }}
        </div>
        <footer ng-repeat-end>
            Footer {{ item }}
        </footer>
    </div>

    <hr />
    <div ng-controller="myController3">
        <div ng-repeat="(key,value) in items">
            {{key}} - {{value}}
        </div>
    </div>
    <script>
        angular.module("myapp", []).controller("myController", function ($scope) {
            $scope.items = ["xin chào", "anh yêu em", "làm người yêu anh nhé"];
        })
            .controller("myController2", function ($scope) {
                $scope.items = ["xin chào", "anh yêu em", "làm người yêu anh nhé"];
            })
            .controller("myController3", function ($scope) {
                $scope.items = {
                    name: 'Tân',
                    company : 'Vitalify'
                };
            });
    </script>
</body>
</html>