<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <script language="javascript" src="../../Assets/admin/libs/angular.min.js"></script>
    <style>
        .my-form {
            transition: 0.5s linear all;
            background: white;
        }

            .my-form.ng-invalid {
                background: red;
                color: white;
            }
    </style>
</head>
<body ng-app="myapp">
    <form name="myForm" ng-controller="FormController" class="my-form">
        Username : <input name="input" ng-model="username" required />
        <span class="error"> Required!</span>
        <tt> usertype = {{username}}</tt>
    </form>
    <form name="myForm1" ng-controller="FormController1" class="my-form">
        Thông báo: <input name="input" ng-model="userType" required><br />
        <tt>myForm.input.$valid = {{myForm1.input.$valid}}</tt><br>
        <tt>myForm.input.$error = {{myForm1.input.$error}}</tt><br>
        <tt>myForm.$valid = {{myForm1.$valid}}</tt>
    </form>
    <hr />
    <form ng-submit="submit()" ng-controller="FormController2">
        Nhập tên sinh viên
        <input type="text" ng-model="text" name="text" />
        <input type="submit" id="submit" value="thêm" /><br />
        Danh sách sinh viên: <pre>list = {{list}}</pre>
    </form>

    <hr />
    <form ng-submit="login()" ng-controller="FormLoginController" name="myForm3">
        Username:<br />
        <input type="text" name="userName" ng-pattern="/^([a-zA-Z0-9]+)$/" ng-model="userName" ng-trim="true" required
               ng-minlength="3" ng-maxlength="10" /> <br />
        Password: <br />
        <input type="password" name="userPass" ng-model="password" required ng-minlength="3" ng-maxlength="10" ng-trim="true" /> <br />
        <input type="submit" value="login" />
    </form>

    <hr />
    <H1>Sở thích bạn là gì?</H1>
    <form name="myForm" ng-controller="HobbitController">
        Chơi Game: <input type="checkbox" ng-model="game"
                          ng-true-value="'CÓ'" ng-false-value="'KHÔNG'" /> <br />
        Du Lịch: <input type="checkbox" ng-model="tour"
                        ng-true-value="'CÓ'" ng-false-value="'KHÔNG'" /> <br />
        <h4>Bạn đang chọn</h4>
        <tt>Chơi Game = {{game}}</tt><br />
        <tt>Du Lịch = {{tour}}</tt><br />
    </form>

    <hr />
    <form name="myForm" ng-controller="DateController">
        <input type="date" name="input" ng-model="value" min="2022/01/1" required /> <br /><br />
        <tt>value = {{value | date: "dd/MM/yyyy"}}</tt><br />
    </form>

    <hr />
    <form name="myFormDate" ng-controller="DateController2">
        Nhập vào một ngày, tháng, năm của năm 2022: <br />
        <input type="datetime-local" name="input" ng-model="value"
               min="2022-01-01T00:00:00" max="2022-12-31T00:00:00" required /> <br />
        <tt>value = {{value | date: "yyyy-MM-ddTHH:mm:ss"}}</tt><br />
        <tt>myForm.input.$valid = {{myFormDate.input.$valid}}</tt><br />
        <tt>myForm.input.$error = {{myFormDate.input.$error}}</tt><br />
        <tt>myForm.$valid = {{myFormDate.$valid}}</tt><br />
        <tt>myForm.$error.required = {{!!myForm.$error.required}}</tt><br />
    </form>
    <script>
        angular.module("myapp", []).controller("FormController", function ($scope) {

        }).controller("FormController1", function ($scope) {

        }).controller("FormController2", function ($scope) {
            // khởi tạo giá trị ban đầu cho list
            $scope.list = [];
            // khi submit form thì chạy hàm này
            $scope.submit = function () {
                // nếu người dùng có nhập nội dung thì lưu nó vào list
                if ($scope.text) {
                    $scope.list.push(this.text);
                    // đồng thời xóa dữ liệu trong thẻ input
                    $scope.text = '';
                }
            };
        }).controller("FormLoginController", function ($scope) {
            $scope.login = function () {
                if ($scope.userName == 'admin' && $scope.password == '123456') {
                    alert('Đăng nhập thành công');
                } else {
                    alert('Đăng nhập thất bại');
                }
            };
        }).controller("HobbitController", function ($scope) {
            // giá trị mặc định
            $scope.game = 'Không';
            $scope.tour = 'Không';

        }).controller("DateController", function ($scope) {
            $scope.value = new Date();
        }).controller("DateController2", function ($scope) {
            $scope.value = new Date();
        });

    </script>
</body>
</html>