<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <script language="javascript" src="../../Assets/admin/libs/angular.min.js"></script>
    <style>
        * {
            margin: 0;
            padding: 0
        }

        body {
            margin: 50px
        }
    </style>
</head>
<body ng-app="myapp">
    <div ng-controller="myController">
        <h3>Chào mừng bạn đến với website freetuts.net</h3> <br />
        <h5>Click vào nếu bạn yêu cô ấy => lưu ý ng-model = ng-show, tương tự như ng-hide</h5>
        <input type="checkbox" ng-model="o_checkbox"><br />
        <div>
            <div ng-hide="o_checkbox">
                YÊU NHIỀU LẮM
            </div>
        </div>
    </div>

    <div ng-controller="myController2">
        <h3>Chào mừng bạn đến với website freetuts.net</h3>
        <h2>Hỏi Đáp: Bạn năm nay bao nhiêu tuổi?</h2>
        <input type="text" ng-model="your_age"><br />
        <div>
            <div ng-hide="checkAge()">
                Bạn chưa đủ tuổi để yêu
            </div>
            <div ng-show="checkAge()">
                Yêu đi, ế rồi đó
            </div>
        </div>
    </div>
    <script>
        angular.module("myapp", []).controller("myController", function ($scope) {

        })
            .controller("myController2", function ($scope) {
                // khởi tạo giá trị ban đầu
                $scope.your_age = 20;
                // bản chất show = true, hide =false
                $scope.checkAge = function(){
                    if ($scope.your_age >= 20) {
                        return true;
                    }
                    else {
                        return false;
                    }
                };
            });
    </script>
</body>
</html>