<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <script language="javascript" src="../../Assets/admin/libs/angular.min.js"></script>
    <style>
        .my-input {
            -webkit-transition: all linear 0.5s;
            transition: all linear 0.5s;
            background: transparent;
        }

            .my-input.ng-invalid {
                color: white;
                background: red;
            }
    </style>
</head>
<body ng-app="myForm">

    <form name="testForm" ng-controller="ExampleController">
        <p>ng-pattern: kiểm tra điều kiện có phải số hay k</p>
        <input ng-model="val" ng-pattern="/^\d+$/" name="anim" class="my-input" />
        <hr />
        <p>yêu cầu nhập dữ liệu sử dụng required</p>
        <input ng-model="val" required name="anim" class="my-input" />
    </form>

    <h2>Bài toán cộng trừ nhân chia</h2>
    <form name="calForm" ng-controller="CalculatorController">
        <h3>{{message.title}}</h3>
        <h5>{{message.num1}}:</h5>
        <input ng-model="number1" ng-required="true" ng-pattern="/^[0-9]+$/" class="my-input" ng-keyup="show_result()" />
        <h5>{{message.num2}}</h5>
        <input ng-model="number2" ng-required="true" ng-pattern="/^[0-9]+$/" class="my-input" ng-keyup="show_result()" />
        <div style='{{styleresult}}'>
            {{message.phep_cong}} {{result.phep_cong}}<br />
            {{message.phep_tru}}  {{result.phep_tru}}<br />
            {{message.phep_nhan}} {{result.phep_nhan}}<br />
            {{message.phep_chia}} {{result.phep_chia}}
        </div>
    </form>
    <script>
        angular.module("myForm", []).controller("ExampleController", function ($scope) {

        })
            .controller("CalculatorController", function ($scope) {
                // Khởi tạo giá trị ban đầu
                $scope.message = {
                    title: 'Trò chơi tính toán',
                    num1: 'Số thứ nhất',
                    num2: 'Số thứ hai',
                    phep_cong: 'Cộng hai số',
                    phep_tru: 'Trừ hai số',
                    phep_nhan: 'Nhân hai số',
                    phep_chia: 'Chia hai số'
                }
                // vì ban đầu chưa nhập gì nên ẩn khung kết quả
                $scope.styleresult = 'display:none';

                // code sự kiện tính toán
                $scope.show_result = function () {
                    // Nếu valid form đúng
                    if ($scope.calForm.$valid) {
                        $scope.styleresult = 'display:block';
                        $scope.result = {
                            phep_cong: parseInt($scope.number1) + parseInt($scope.number2),
                            phep_tru: parseInt($scope.number1) - parseInt($scope.number2),
                            phep_nhan: parseInt($scope.number1) * parseInt($scope.number2),
                            phep_chia: parseInt($scope.number1) / parseInt($scope.number2),
                        }
                    }
                    else {
                        // nếu validate form sai thì ẩn result
                        $scope.styleresult = 'display:none';
                    }
                }
        });
    </script>
</body>
</html>