
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
    <link href="~/Assets/admin/libs/css/bootstrap.min.css" rel="stylesheet" />
   

</head>
<body>
    <div ui-view>
    </div>

    <script src="~/Assets/admin/libs/jquery.min.js"></script>
    <script src="~/Assets/admin/libs/js/bootstrap.bundle.min.js"></script>
    <script src="~/Assets/admin/libs/toastr.min.js"></script>

    <script src="~/Assets/admin/libs/angular.js"></script>
    <script src="~/Assets/admin/libs/angular-ui-router.min.js"></script>
    <script src="~/Assets/admin/libs/angular-route.min.js"></script>
    <script src="~/Assets/admin/libs/bootbox.js"></script>
    <script src="~/Assets/admin/libs/ngBootbox.js"></script>
    <script src="~/CKFinderScripts/ckfinder.js"></script>

    <script src="~/app/app.js"></script>
    <script src="~/Assets/admin/libs/dirPagination.js"></script>
    <script src="~/app/shared/module/liveStream.common.js"></script>
    <script src="~/app/login/loginController.js"></script>
</body>
</html>