<div class="card card-info">
    <div class="card-header">
        <h3 class="card-title">Thêm mới danh mục</h3>
    </div>
    <!-- /.card-header -->
    <!-- form start -->
    <form class="form-horizontal" novalidate name="frmAddProduct" role="form" ng-submit="AddProduct()">
        <div class="card-body">
            <div class="form-group row">
                <label for="inputEmail3" class="col-sm-2 control-label">Id người dùng</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" ng-maxlength="25" ng-pattern="/^[0-9]+$/" required name="idPerson" ng-model="product.IdPerson">
                    <span ng-show="frmAddProduct.idPerson.$invalid" style="color:red">Phải nhập Id người dùng</span><br />
                    <span ng-show="frmAddProduct.idPerson.$error.maxlength" style="color:red">        Id người dùng chỉ được 25 ký tự</span><br />
                    <span ng-show="frmAddProduct.idPerson.$error.pattern" style="color:red">        Id người dùng chỉ được nhập số</span>
                </div>
            </div>
            <div class="form-group row">
                <label for="inputEmail3" class="col-sm-2 control-label">Email</label>
                <div class="col-sm-10">
                    <input type="email" class="form-control" ng-maxlength="256" required name="email" ng-model="product.Email">
                    <span ng-show="frmAddProduct.email.$invalid" style="color:red">Phải nhập email</span><br />
                    <span ng-show="frmAddProduct.email.$error.maxlength" style="color:red">        Email chỉ được 256 ký tự</span><br />
                    <span ng-show="frmAddProduct.email.$error.email" style="color:red">        Nhập đúng định dạng email</span>
                </div>
            </div>
            <div class="form-group row">
                <label for="inputEmail3" class="col-sm-2 control-label">Name</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" ng-maxlength="256" required name="name" ng-model="product.Name">
                    <span ng-show="frmAddProduct.name.$invalid" style="color:red">Tên không được để trống</span><br />
                    <span ng-show="frmAddProduct.name.$error.maxlength" style="color:red">       Tên chỉ được 256 ký tự</span>
                </div>
            </div>
            
            <div class="form-group row">
                <label for="inputEmail3" class="col-sm-2 control-label">Image view</label>
                <div class="col-sm-10">
                    <input id="filePath" type="file" class="form-control" onchange="angular.element(this).scope().SelectFile(event)"  name="image" ng-model="product.ImageView"><br />
                    <img ng-src="{{PreviewImage}}" ng-show="PreviewImage != null" alt="" style="height:200px;width:200px" />
                </div>
            </div>
            <div class="form-group row">
                <label for="inputEmail3" class="col-sm-2 control-label">Phone</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" ng-pattern="/^[0-9]+$/" ng-maxlength="13" required name="phone" ng-model="product.Phone">
                    <span ng-show="frmAddProduct.phone.$invalid" style="color:red">Phải nhập số điện thoại</span><br />
                    <span ng-show="frmAddProduct.phone.$error.maxlength" style="color:red">        Số điện thoại chỉ được 13 số</span><br />
                    <span ng-show="frmAddProduct.phone.$error.pattern" style="color:red">        Chỉ được nhập số</span>
                </div>
            </div>
            <div class="form-group row">
                <label for="inputEmail3" class="col-sm-2 control-label">Coins</label>
                <div class="col-sm-10">
                    <input type="number" class="form-control" min="1" max="10000" required name="coins" ng-model="product.Coins">
                    <span ng-show="frmAddProduct.coins.$invalid" style="color:red">Phải nhập số Coins </span><br />
                    <span ng-show="frmAddProduct.coins.$error.min" style="color:red">        Giá trị nhập vào không được dưới 0</span><br />
                    <span ng-show="frmAddProduct.coins.$error.max" style="color:red">        Giá trị nhập vào không được trên 10000</span>
                </div>
            </div>

            <!--<div class="form-group row">
        <label for="inputEmail3" class="col-sm-2 control-label">Tiêu đề SEO</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" ng-maxlength="256" required name="alias" ng-model="productCategory.Alias">
            <span ng-show="frmAddProductCategory.alias.$invalid" style="color:red">Phải nhập tiêu đề SEO</span>
            <span ng-show="frmAddProductCategory.alias.$error.maxlength" style="color:red">        Tiêu đề SEO chỉ được 256 ký tự</span>
        </div>
    </div>
    <div class="form-group row">
        <label for="inputEmail3" class="col-sm-2 control-label">Mô tả ngắn</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" ng-maxlength="500" name="description" ng-model="productCategory.Description">
            <span ng-show="frmAddProductCategory.description.$error.maxlength" style="color:red">Mô tả chỉ được 500 ký tự</span>
        </div>
    </div>
    <div class="form-group row">
        <label for="inputEmail3" class="col-sm-2 control-label">Danh mục cha</label>
        <div class="col-sm-10">
            <select name="parentId" class="form-control" ng-model="productCategory.ParentID" ng-options="option.ID as option.Name for option in parentCategories">
                <option value="">Danh mục gốc</option>
            </select>
            <input type="hidden" name="parentId" ng-model="productCategory.ParentID" />
        </div>
    </div>
    <div class="form-group row">
        <label for="inputEmail3" class="col-sm-2 control-label">Thứ tự</label>
        <div class="col-sm-10">
            <input type="number" class="form-control" required name="displayOrder" ng-model="productCategory.DisplayOrder">
            <span ng-show="frmAddProductCategory.displayOrder.$invalid" style="color:red">Phải nhập thứ tự</span>
        </div>
    </div>
    <div class="form-group row">
        <label for="inputEmail3" class="col-sm-2 control-label">Hình ảnh</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" ng-maxlength="256" name="image" ng-model="productCategory.Image">
            <span ng-show="frmAddProductCategory.image.$error.maxlength" style="color:red">Tên hình ảnh chỉ được 256 ký tự</span>
        </div>
    </div>
    <div class="form-group row">
        <label for="inputEmail3" class="col-sm-2 control-label">Meta Keyword</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" name="metaKeyword" ng-model="productCategory.MetaKeyword">
        </div>
    </div>
    <div class="form-group row">
        <label for="inputEmail3" class="col-sm-2 control-label">Meta Description</label>
        <div class="col-sm-10">
            <textarea class="form-control" name="metaKeyword" ng-model="productCategory.MetaDescription"></textarea>
        </div>
    </div>
    <div class="form-group row">
        <div class="offset-sm-2 col-sm-10">
            <div class="checkbox">
                <label>
                    <input type="checkbox" name="status" ng-model="productCategory.Status" ng-checked="productCategory.Status"> Kích hoạt
                </label>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" name="homeFlag" ng-model="productCategory.HomeFlag" ng-checked="productCategory.HomeFlag"> Hiển thị trang chủ
                </label>
            </div>
        </div>
    </div>-->
        </div>
        <!-- /.card-body -->
        <div class="card-footer">
            <button type="submit" class="btn btn-info" ng-disabled="frmAddProduct.$invalid">Lưu</button>
            <button class="btn btn-default float-right" ui-sref="products">Hủy</button>
        </div>
        <!-- /.card-footer -->
    </form>
</div>